.dashboard {
    height: 90vh;
    background-color: #1f1f1f;
}

.title {
    display: flex;
    height: 6%;
    color: white;
    align-items: center;
    padding-right: 2rem;
    margin-left: 2rem;
}

