.dashboard {
    height: 90vh;
    background-color: #1F1F1F
}

.title {
    display: flex;
    height: 6%;
    color: white;
    align-items: center;
    padding-right: 2rem;
    margin-left: 2rem;
  }