.content{
    display: flex;
    color: white;
    padding: 2rem;
    background-color:#1A191A
}

.imagewrap{
    display: flex;
    width: 35%;
    height: 60vh;
    border-radius: 40px;    
    justify-content: center;
}

.image{
    object-fit: contain;
    max-height: 100%;
}
.content-text{
    display: flex;
    width: 65%;
    flex-direction: column;
}
.content-bottom{
    color: white
}